body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    /* padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px; */
    background: transparent;
    border: none !important;
}

.modal-modal, .modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    /* margin-top: 5rem; */
    z-index: 1;
}

.modal-overlay {
    background: rgba(49,49,49,0.8);
    z-index: 0;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-body{
    max-height: 9rem;
    overflow-y: auto;
  }

.close-modal {
    position: absolute;
    top: 1px;
    right: 6px;
    /* padding: 5px 7px; */
    background: transparent;
    border: none !important;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

iframe{
    width: 100%;
    margin: 0 auto;
    height: 300px;
    padding-top: 0.9rem;
    /* border-radius: 5%; */
}

@media screen and ( min-width: 860px){
    .iframe{
        width: 350px;
        margin: 0 auto;
        height: 280px;
        border-radius: 5%;
    }
}

/* .modal{
    max-width: 480px;
    box-shadow: 0 0 4px 2px lightgrey;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background: rgb(245, 244, 244);
    margin-top: -120%;
    transition: all 0.5s ease-in-out;
}

.newModal{
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}

iframe{
    width: 100%;
    margin: 0 auto;
    height: 300px;
    border-radius: 5%;
}

.Modal h2{
    color: crimson;
    position: absolute;
    top: -15px;
    right: -15px;
    background: rgb(216,215,215);
    width: 30px;
    border-radius: 50%;
    text-align: center;
}

.Modal h2:hover{
    background: rgb(180,180,180);
    cursor: pointer;
}

.main-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.newMain{
    display: block;
    transform: translateY(0%);
    transition: all 0.5s ease-in-out;
}

@media screen and ( min-width: 860px){
    .modal iframe{
        width: 350px;
        margin: 0 auto;
        height: 280px;
        border-radius: 5%;
    }

    .modal{
        max-width: 860px;
        margin-top: -100%;
        display: flex;
    }

    .newModal{
        display: flex;
        margin-top: 10px;
    }

    .modal-details{
        margin-left: 10px;
    }

    .modal-details h3{
        text-align: center;
        letter-spacing: 0.1rem;
        color: #424242;
        margin-bottom: 5px;
    }

    .modal-details p{
        font-size: 18px;
        color: #555;
    }
} */